<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
    </head>
    <style>
        body{
            background-color: azure;
        }
        .about h2{
            text-align: center;
            text-decoration: underline;
        }
        .about .about-data{
            margin-left: 50px;
        }
        .about .about-data h3{
           text-decoration: underline;
           color: red;
        }
    </style>
    <body>
        <%- include('common1/nav');-%>
         <div class="about">
            <h2>Origination of Covid 19</h2>
            <div class="about-data">
               <h3>History of Covid 19</h3>
               <p>The virus is thought to be of natural animal origin,most likely through spillover infection.A joint-study conducted in early 2021<br> by the People's Republic of China and the World Health Organization indicated that the virus descended from a coronavirus that<br> infects wild bats, and likely spread to humans through an intermediary wildlife host.There are several theories about where the<br> index case originated and investigations into the origin of the pandemic are ongoing.According to articles published in July 2022<br> in Science, virus transmission into humans occurred through two spillover events in November 2019 and was likely due to live<br> wildlife trade on the Huanan wet market in the city of Wuhan (Hubei, China).Doubts about the conclusions have mostly centred<br> on the precise site of spillover.Earlier phylogenetics estimated that SARS-CoV-2 arose in October or November 2019.A phylo- <br> -genetic algorithm analysis suggested that the virus may have been circulating in Guangdong before Wuhan.The possibility that<br> the virus was accidentally released from a laboratory has also been under consideration. U.S intelligence agencies found that the<br> virus was not developed as a biological weapon and that it is unlikely for it to have been genetically engineered.</p>
               <p>The first confirmed human infections were in Wuhan. A study of the first 41 cases of confirmed COVID‑19, published in January<br> 2020 in The Lancet, reported the earliest date of onset of symptoms as 1 December 2019.Official publications from the WHO repo- <br> -rted the earliest onset of symptoms as 8 December 2019.Human-to-human transmission was confirmed by the WHO and Chinese<br> authorities by 20 January 2020.According to official Chinese sources, these were mostly linked to the Huanan Seafood Wholesale<br> Market, which also sold live animals.In May 2020, George Gao, the director of the CDC, said animal samples collected from the<br> seafood market had tested negative for the virus, indicating that the market was the site of an early superspreading event,but that<br> it was not the site of the initial outbreak.Traces of the virus have been found in wastewater samples that were collected in Milan<br> and Turin, Italy, on 18 December 2019.</p>
               <p>By December 2019,the spread of infection was almost entirely driven by human-to-human transmission.The number of COVID-19<br> cases in Hubei gradually increased, reaching sixty by 20 December,and at least 266 by 31 December.On 24 December, Wuhan Cen- <br>-tral Hospital sent a bronchoalveolar lavage fluid (BAL) sample from an unresolved clinical case to sequencing company Vision Me- <br>-dicals. On 27 and 28 December, Vision Medicals informed the Wuhan Central Hospital and the Chinese CDC of the results of the te- <br>-st, showing a new coronavirus.A pneumonia cluster of unknown cause was observed on 26 December and treated by the doctor Zha- <br>ng Jixian in Hubei Provincial Hospital, who informed the Wuhan Jianghan CDC on 27 December.On 30 December, a test report addre-<br>-ssed to Wuhan Central Hospital, from company CapitalBio Medlab, stated an erroneous positive result for SARS, causing a group of<br> doctors at Wuhan Central Hospital to alert their colleagues and relevant hospital authorities of the result.The Wuhan Municipal Health<br> Commission issued a notice to various medical institutions on "the treatment of pneumonia of unknown cause" that same evening.Eig-<br>-ht of these doctors, including Li Wenliang (punished on 3 January),were later admonished by the police for spreading false rumours<br> and another, Ai Fen, was reprimanded by her superiors for raising the alarm.</p>
            </div>
         </div>
    </body>
</html>
