<!DOCTYPE html>
<html>
    <head>
        <title>Cause Page</title>
    </head>
    <style>
        body{
            background-color: azure;
        }
        .effect h2{
            text-align: center;
            text-decoration: underline;
        }
        .effect .effect-data{
            margin-left: 50px;
        }
        .effect .effect-data h3{
            color: red;
            text-decoration: underline;
        }
    </style>
    <body>
        <%- include('common1/nav');-%>
        <div class="effect">
            <h2>Various causes of covid 19</h2>
            <div class="effect-data">
               <h3>Cause of covid 19</h3>
               <div class="effect-data-view">
                 <h4>Transmission</h4>
                 <p>COVID-19 is mainly transmitted when people breathe in air contaminated by droplets/aerosols and small<br> airborne particles containing the virus. Infected people exhale those particles as they breathe, talk, cough,<br> sneeze, or sing.Transmission is more likely the more physically close people are. However, infection can<br> occur over longer distances, particularly indoors.</p>
                 <p>Infectivity can begin four to five days before the onset of symptoms,although contact tracing typically beg-<br>-ins only two to three days before symptom onset.Infected people can spread the disease even if they are<br> pre-symptomatic or asymptomatic.Most commonly, the peak viral load in upper respiratory tract samples<br> occurs close to the time of symptom onset and declines after the first week after symptoms begin.Current<br> evidence suggests a duration of viral shedding and the period of infectiousness of up to ten days following<br> symptom onset for people with mild to moderate COVID-19,and up to 20 days for persons with severe<br> COVID-19, including immunocompromised people.Infectious particles range in size from aerosols that<br> remain suspended in the air for long periods of time to larger droplets that remain airborne briefly or fall to<br> the ground.</p>
               </div>
               <div class="effect-data-view">
                <h4>Virology</h4>
                <p>Severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2) is a novel severe acute respiratory syndrome<br> coronavirus. It was first isolated from three people with pneumonia connected to the cluster of acute respirato-<br>-ry illness cases in Wuhan.All structural features of the novel SARS-CoV-2 virus particle occur in related coro-<br>na viruses in nature.Outside the human body, the virus is destroyed by household soap, which bursts its protec-<br>-tive bubble.SARS-CoV-2 is closely related to the original SARS-CoV.It is thought to have an animal origin.<br> Genetic analysis has revealed that the coronavirus genetically clusters with the genus Betacoronavirus, in sub-<br>-genus Sarbecovirus together with two bat-derived strains. It is 96% identical at the whole genome level to<br> other bat coronavirus samples (BatCov RaTG13).The structural proteins of SARS-CoV-2 include membrane<br> glycoprotein (M),envelope protein (E),nucleocapsid protein (N),and the spike protein (S).The M protein of<br> SARS-CoV-2 is about 98% similar to the M protein of bat SARS-CoV, maintains around 98% homology with<br> pangolin SARS-CoV, and has 90% homology with the M protein of SARS-CoV.</p>
              </div>
            </div>
        </div>
    </body>
</html>