<!DOCTYPE html>
<html>
    <head>
        <title>Cure Page</title>
    </head>
    <style>
        body{
            background-color: azure;
        }
        .cure h2{
            text-align: center;
            text-decoration: underline;
        }
        .cure .cure-data{
            margin-left: 50px;
        }
        .cure .cure-data h3{
            color: red;
            text-decoration: underline;
        }
        .cure .cure-data ul li span{
            font-weight: 600;
        }
    </style>
    <body>
        <%- include('common1/nav');-%>
        <div class="cure">
            <h2>Treatment of Covid 19</h2>
            <div class="cure-data">
               <h3>Cures</h3>
               <h4>Types of Treatments:-</h4>
               <p>The FDA has authorized certain antiviral medications and monoclonal antibodies to treat mild to moderate COVID<br>-19 in people who are more likely to get very sick.</p>
               <ul>
                 <li><span>Antiviral treatments</span> target specific parts of the virus to stop it from multiplying in the body,helping to pre-<br>-vent severe illness and death.</li>
                 <li><span>Monoclonal antibodies</span> help the immune system recognize and respond more effectively to the virus.</li>
               </ul>
               <p>Prior to April 2022,there were no specific,effective treatments or cures for coronavirus disease 2019 (COVID-19),<br>the disease caused by the severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2) virus.Although several<br> medications have been approved in different countries as of April 2022, not all countries have these medications.<br> Patients with mild to moderate symptoms who are in the risk groups can take nirmatrelvir/ritonavir (marketed as-<br> -Paxlovid) or remdesivir, either of which reduces the risk of serious illness or hospitalization.In the US, the Biden<br> Administration COVID-19 action plan includes the Test to Treat initiative, where people can go to a pharmacy,take<br> a COVID test, and immediately receive free Paxlovid if they test positive.</p>
               <p>Highly effective vaccines have reduced mortality related to SARS-CoV-2; however, for those awaiting vaccination,<br> as well as for the estimated millions of immunocompromised persons who are unlikely to respond robustly to vacci-<br>-nation, treatment remains important.The cornerstone of management of COVID-19 has been supportive care,which<br> includes treatment to relieve symptoms,fluid therapy,oxygen support and prone positioning as needed,and medica- <br>-tions or devices to support other affected vital organs.</p>
               <p>Most cases of COVID-19 are mild.In these, supportive care includes medication such as paracetamol or NSAIDs to<br> relieve symptoms (fever, body aches, cough),proper intake of fluids, rest and nasal breathing.Good personal hygiene<br> and a healthy diet are also recommended.As of April 2020 the U.S. Centers for Disease Control and Prevention(CDC)<br> recommended that those who suspect they are carrying the virus isolate themselves at home and wear a face mask.As<br> of November 2020 use of the glucocorticoid dexamethasone had been strongly recommended in those severe cases<br> treated in hospital with low oxygen levels,to reduce the risk of death.Noninvasive ventilation and, ultimately,admi-<br>-ssion to an intensive care unit for mechanical ventilation may be required to support breathing.Extracorporeal memb-<br>-rane oxygenation (ECMO) has been used to address respiratory failure, but its benefits are still under consideration.</p>
            </div>
        </div>
    </body>
</html>