<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <style>
        body{
            background-color: azure;
        }
        h1{
            text-align: center;
            text-decoration: underline;
        }
        .home .home-data{
            margin-left: 50px;
        }
        .home .home-data h3{
            color: red;
            text-decoration: underline;
        }
        

    </style>
    <body>
        <%- include('common1/nav');-%>
        <div class="home">
            <h1>Welcome User</h1>
            <div class="home-data">
               <h3>Covid 19</h3>
               <p>Coronavirus disease 2019 (COVID-19) is a contagious disease caused by a virus,the severe<br> acute respiratory syndrome coronavirus 2 (SARS-CoV-2).The first known case was identified<br>in Wuhan,China,in December 2019.The disease quickly spread worldwide,resulting in the<br>Symptoms of COVID-19 are variable,but often include fever,cough,headache,fatigue,breathing<br>difficulties,loss of smell,and loss of taste.Symptoms may begin one to fourteen days after<br> exposure to the virus.At least a third of people who are infected do not develop noticeable<br> symptoms COVID-19 pandemic.Of those people who develop symptoms noticeable enough<br> to be classed as patients, most (81%) develop mild to moderate symptoms, while 14% develop<br> severe symptoms (dyspnoea, hypoxia, or more than 50% lung involvement on imaging), and 5%<br> develop critical symptoms (respiratory failure, shock, or multiorgan dysfunction).Older people<br> are at a higher risk of developing severe symptoms.</p>
               <p>COVID-19 transmits when people breathe air contaminated by droplets and small airborne <br>particles containing the virus. The risk of breathing these is highest when people are in close<br> proximity, but they can be inhaled over longer distances, particularly indoors. Transmission<br> can also occur if splashed or sprayed with contaminated fluids in the eyes, nose or mouth,<br> and, rarely, via contaminated surfaces. People remain contagious for up to 20 days, and can<br> spread the virus even if they do not develop symptoms.</p>
               <p>COVID-19 testing methods to detect the virus's nucleic acid include real-time reverse transcription<br> polymerase chain reaction (rRT‑PCR),transcription-mediated amplification,and reverse transcription<br> loop-mediated isothermal amplification (RT‑LAMP) from a nasopharyngeal swab.</p>
               <p>Several COVID-19 vaccines have been approved and distributed in various countries, which<br> have initiated mass vaccination campaigns. Other preventive measures include physical or social<br> distancing, quarantining, ventilation of indoor spaces, covering coughs and sneezes, hand <br>washing, and keeping unwashed hands away from the face. The use of face masks or coverings<br> has been recommended in public settings to minimise the risk of transmission.While work is under- <br>-way to develop drugs that inhibit the virus,the primary treatment is symptomatic.Management invo-<br>-lves the treatment of symptoms,supportive care, isolation, and experimental measures.</p>
            </div>
        </div>
    </body>
</html>